html {
	background: black;
	overflow: hidden;
}

p {
	color: white;
	margin-bottom: 24px;
}

h1{
	color: red !important;
	font-weight: 700 !important;
	padding: 0px;
	margin: 24px;
	font-size: 32px;
	height: 32px !important;
}

h2{
	color: red !important;
	font-weight: 400;
	margin-bottom: 18px;
	font-size: 24px;
}

.mainGridContainer {
	position: relative;
	display: grid;
	width: 640px;
	grid-gap: 0px;
	margin: 0 auto;
	grid-template-columns: repeat(3, auto);
	align-content: center;
	justify-content: center;
	background-image: url('../images/background.png');
	border: 1px red solid;
	padding: 0px;
}

.headerContainer, .headerContainer2 {
	grid-area: 1 / 1 / 2 / 2;
	width: 640px;
	padding: 30px;
	justify-content: center;
}

.letter-buttons {
	float: left; 
	padding: 3px 5px;
	cursor: pointer;
	border: 2px gray outset;
	background: white;
	color: black;
	margin: auto 2.5px;
	height: 20px;
	font-weight: bold;
	border-radius: 3px;
	width: 18px;
	text-align: center;
}

.letter-buttons:hover, .letter-buttons:active, .letter-buttons:focus {
	background: black;
	color: white;
}

.headerContainer {
	display: grid;
	z-index: 1;
}

.headerContainer2 {
	display: none;
}

.contentContainer {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 640px;
	grid-template-columns: 384px 256px;
	justify-content: center;
}

.leftContent {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 384px;
	height: 594px;
}

#gameContent {
	display: none;
	position: relative;
	grid-area: 1 / 2 / 1 / 3;
	width: 256px;
	background-image: url('../images/righthalf.png');
	background-size: 256px;
	z-index: 1;
}

.gameBoard {
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 250px;
	right: 10px;
	width: 400px;
	height: 350px;
	display: none;
	grid-template-columns: 1fr;
	opacity: .5;
}

.gameBoardRow1, .gameBoardRow5 {
	display: grid;
	height: 20px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	width: 125px;
	margin: 0px auto;
	border: 1px white solid;
	text-align: center;
}

.gameBoardRow1 {
	grid-area: 1 / 1 / 2 / 2;
	border-top: none;
}

.gameBoardRow5 {
	grid-area: 5 / 1 / 6 / 2;
	border-bottom: none;
}

.gameBoardRow2, .gameBoardRow4 {
	flex-wrap: wrap;
	font-family: Courier, sans-serif;
	font-size: 20px;
	font-color: white;
	padding: 10px;
	justify-content: center;
	align-content: center;
}

.gameBoardRow2 {
	display: inline-block;
	grid-area: 2 / 1 / 3 / 2;
	border-bottom: 2px red dotted;
	height: 100px;
	padding-left: 17px;
}

.gameBoardRow4 {
	display: flex;
	grid-area: 4 / 1 / 5 / 2;
	border-top: 2px red dotted;
	height: 60px;
}

.gameBoardRow4 > div {
	float: left;
	margin-right: 5px;
}

.gameBoardRow3 {
	display: flex;
	justify-content: center;
	height: 104px;
	font-size: 24px !important;
	color: black;
	font-weight: bolder;
	text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red; 
}

.gameBoardRow3 > div {
	margin: auto 5px;
	font-family: courier;
	border-bottom: 2px black solid;
	margin-right: 4px;
	display: inline-block;
	font-size: 24px;
	float: left;
}

.scrollContainer {
    content:'';
    position:absolute;
    top:0;
    bottom:0px;
    left: 30px;
    left:0;
    right:0;
    pointer-events:none;
    width: 600px;
}

.scrollContainer2 {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
}

#results {
	position: absolute;
	top: 500px;
	left: 20px;
	color: red !important;
}

#winStory, #lossStory {
	display: none;
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 290px;
	right: 250px;	
	width: 400px;
	grid-template-columns: auto;
	opacity: .5;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
	padding: 25px;
}

#pressStart, #playAgain {
	position: absolute;
	top: 750px;
	left: 100px;
	width: 800px;
	height: 50px;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
	cursor: pointer;
}

#pressStart {
	display: grid;
}

#playAgain {
	display: none;
}

#scoreBoard {
	display: none;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 90px;
	height: 50px;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

.floatLeft {
	position: relative;
	float: left;
}

.floatRight {
	position: relative;
	float: right;
	color: red !important;
	font-size: 20px;
}

#preStory {
	position: absolute;
	bottom: 150px;
	left: 200px;
	width: 600px;
	color: #FFFFFF;
	height: 300px;
	text-align: center;
	font-family: arial, sans serif;
}

#target {
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    font-size:30px;
    text-align:justify;
    font-family:sans-serif;
}
#target > div {
    padding-top:3500px;
    animation:autoscroll 1000s linear;
}

@keyframes autoscroll {
    to {
        margin-top:-50000px;
    }    
}

@media only screen and (min-width: 980px) {

	.mainGridContainer {
		width: 1000px;
	}

	.headerContainer, .headerContainer2 {
	width: 1000px;
	}

	.contentContainer {
		
		width: 1100px;
		grid-template-columns: 600px 400px;
	}

	.leftContent {
		width: 600px;
		height: 858px;
	}

	#gameContent {
		width: 400px;
		background-size: 400px;
	}

}