html {
	background: black;
	overflow: hidden;
}

p {
	color: white;
}

.gameWordPiece {
	font-family: courier;
	border-bottom: 2px black solid;
	margin: 0px 3px;
	display: inline-block;
}

.mainGridContainer {
	position: relative;
	display: grid;
	width: 1000px;
	grid-gap: 0px;
	margin: 0 auto;
	grid-template-columns: repeat(3, auto);
	align-content: center;
	justify-content: center;
	background-image: url('../images/background.png');
	border: 1px red solid;
	padding: 0px;
}

.headerContainer {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 1000px;
	padding: 30px;
	justify-content: center;
	z-index:200;
	
}

.headerContainer2 {
	display: none;
	grid-area: 1 / 1 / 2 / 2;
	width: 1000px;
	padding: 30px;
	justify-content: center;
	
	
}

.contentContainer {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 1100px;
	grid-template-columns: 600px 400px;
	justify-content: center;
	
}

.leftContent {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 600px;
}

.gameContent {
	display: block;
	position: relative;
	grid-area: 1 / 2 / 1 / 3;
	width: 400px;
	background-image: url('../images/righthalf.png');
	grid-template-columns: 400px;
	background-size: 400px;
	z-index: 20;
	grid-template-columns: 300px;
}

.gameBoard {
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 250px;
	right: 10px;
	width: 300px;
	height: 350px;
	display: none;
	grid-template-columns: auto;
	opacity: .5;
	justify-content: center;
}

.gameBoardRow1 {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	height: 20px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	width: 125px;
	margin: 0px auto;
	border: 1px white solid;
	border-top: none;
	text-align: center;
}

.gameBoardRow2 {
	display: flex;
	flex-wrap: wrap;
	grid-area: 2 / 1 / 3 / 2;
	height: 60px;
	font-family: Courier, sans-serif;
	font-size: 20px;
	font-color: white;
	bottom-border: 2px white solid;
	padding: 10px;
	align-content: center;
	justify-content: center;
	border-bottom: 2px red dotted;
}

.gameBoardRow3 {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0px auto;
	grid-area: 3 / 1 / 4 / 2;
	height: 144px;
	font-size: 24px !important;
	color: black;
	font-weight: bolder;
	text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; 
}

.gameBoardRow3 > div {
	margin: auto;
}

.gameBoardRow4 {
	display: flex;
	flex-wrap: wrap;
	grid-area: 4 / 1 / 5 / 2;
	height: 60px;
	font-family: Courier, sans-serif;
	font-size: 20px;
	font-color: white;
	bottom-border: 2px white solid;
	padding: 10px;
	align-content: center;
	justify-content: center;
	border-top: 2px red dotted;
}

.gameBoardRow5 {
	display: grid;
	grid-area: 5 / 1 / 6 / 2;
	height: 20px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	width: 125px;
	margin: 0px auto;
	border: 1px white solid;
	border-bottom: none;
	text-align: center;
	align-content: end;
}

.currentWordLabel {
	display: grid;
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
}

.currentWord {
	display: flex;
	margin: auto 0px;
	grid-area: 3 / 1 / 4 / 2;
	justify-content: center;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; 
}

.letterPoolLabel {
	display: grid;
	grid-area: 6 / 1 / 7 / 2;
}

.letterPool {
	display: inline-block;
	grid-area: 7 / 1 / 8 / 2;
	padding: 0px 20px;
}

.spentLettersLabel {
	display: grid;
	grid-area: 8 / 1 / 9 / 2;
}

.spentLetters {
	display: inline-block;
	grid-area: 9 / 1 / 10 / 2;
	padding: 0px 20px;
}

#results {
	position: absolute;
	top: 500px;
	left: 20px;
	color: red !important;
}

.win {
	background-image: 
}

.lose {
	background-image: 
}

h1{
	color: red !important;
	font-weight: 400;
	padding: 0px;
	margin: 5px;
	line-height: auto;
	height: 32px !important;
}

h2{
	color: red !important;
	font-weight: 400;
	margin: 4px;
}

#lossStory {
	display: none;
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 380px;
	right: 300px;
	width: 400px;
	height: autopx;
	grid-template-columns: auto;
	opacity: .5;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
	padding: 5px;
}

#winStory {
	display: none;
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 380px;
	right: 300px;
	width: 400px;
	height: auto;
	grid-template-columns: auto;
	opacity: .5;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
	padding: 5px;
}

#preStory {
	position: absolute;
	bottom: -450px;
	left: 200px;
	width: 600px;
	color: #FFFFFF;
	height: 300px;
	text-align: center;
	font-family: arial, sans serif;
}

#pressStart {
	display: grid;
	position: absolute;
	background-color: black;
	top: 800px;
	left: 200px;
	width: 600px;
	height: 50px;
	
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

#playAgain {
	display: none;
	position: absolute;
	background-color: black;
	top: 800px;
	left: 200px;
	width: 600px;
	height: 50px;
	
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

#scoreBoard {
	display: none;
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 90px;
	height: 50px;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

#target{
    position:absolute;
    top:-3500px;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    font-size:30px;
    text-align:justify;
    font-family:sans-serif;
}
#target>div{
    padding-top:3500px;
    animation:autoscroll 1000s linear;
}
.scrollContainer{
    content:'';
    position:absolute;
    top:0;
    bottom:0px;
    left: 30px;
    left:0;
    right:0;
    background:linear-gradient(top,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) 100%);
    pointer-events:none;
    width: 600px;
}

.scrollContainer2{
    
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform-origin:50% 100%;
    transform:perspective(300px) rotateX(20deg);
}
html{
    color:white;
    background:black;
}
@keyframes autoscroll{
    to{
        margin-top:-50000px;
    }    
}

.floatLeft {
	position: relative;
	float: left;
}

.floatRight {
	position: relative;
	float: right;
	color: red !important;
	font-size: 20px;
}