html {
	background: black;
	overflow: hidden;
}

p {
	color: white;
}

.gameWordPiece {
	font-family: courier;
	font-size: 20px;
	border-bottom: 2px black solid;
	margin: 0px 3px;
	display: inline-block;
}

/* make the title like stranger things, background same sort of color have hanging tree and the hung man */

/* 13 divisions of the man


1. Rope
2. Noose
3. head
4. torso
5. rt shoulder
6. left shoulder
7. body
8 rt arm
9 left arm
10 half left leg
11 2nd half of left leg
12 half of rt leg
13 second half of rt leg*/

/* Try to draw this on css canvas */

.mainGridContainer {
	position: relative;
	display: grid;
	width: 1000px;
	grid-gap: 0px;
	margin: 0 auto;
	grid-template-columns: repeat(3, auto);
	align-content: center;
	justify-content: center;
	background-image: url('../images/background.png');
	border: 1px red solid;
	padding: 0px;
}

.headerContainer {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 1000px;
	padding: 30px;
	justify-content: center;
	
}

.contentContainer {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 1100px;
	grid-template-columns: 600px 400px;
	justify-content: center;
	
}

.leftContent {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	width: 600px;
}

.gameContent {
	display: block;
	position: relative;
	grid-area: 1 / 2 / 1 / 3;
	width: 400px;
	background-image: url('../images/righthalf.png');
	grid-template-columns: 400px;
	background-size: 400px;
	z-index: 20;
	grid-template-columns: 300px;
}

.gameBoard {
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 250px;
	right: 10px;
	width: 300px;
	height: 350px;
	display: none;
	grid-template-columns: auto;
	opacity: .5;
}

.scoreLine {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-area: 1 / 1 / 2 / 2;
}

.gameBoardScoreboardLabelWins {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	text-align: right;
	margin: auto 0;

}

.gameBoardScoreboardResultWins {
	display: grid;
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
	color: red !important;
}

.gameBoardScoreboardLabelLoss {
	display: grid;
	grid-area: 1 / 3 / 2 / 4;
	text-align: right;
}

.gameBoardScoreboardResultLoss {
	display: grid;
	grid-area: 1 / 4 / 2 / 5;
	text-align: left;
	color: red !important;
}

.currentWordLabel {
	display: grid;
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
}

.currentWord {
	display: flex;
	margin: auto 0px;
	grid-area: 3 / 1 / 4 / 2;
	justify-content: center;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red; 
}

.numberOfGuessesLabel {
	display: grid;
	grid-area: 4 / 1 / 5 / 2;
	text-align: center;
	justify-content: center;
	margin: auto 0;
}

.numberOfGuesses {
	display: grid;
	grid-area: 5 / 1 / 6 / 2;
	text-align: center;
}

.letterPoolLabel {
	display: grid;
	grid-area: 6 / 1 / 7 / 2;
}

.letterPool {
	display: inline-block;
	grid-area: 7 / 1 / 8 / 2;
	padding: 0px 20px;
}

.spentLettersLabel {
	display: grid;
	grid-area: 8 / 1 / 9 / 2;
}

.spentLetters {
	display: inline-block;
	grid-area: 9 / 1 / 10 / 2;
	padding: 0px 20px;
}

#results {
	position: absolute;
	top: 500px;
	left: 20px;
	color: red !important;
}

.win {
	background-image: 
}

.lose {
	background-image: 
}

#preStory {
	position: absolute;
	top: 400px;
	left: 350px;
	width: 600px;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

h1{
	color: red !important;
	font-weight: 400;
	padding: 5px;
}

h2{
	color: red !important;
	font-weight: 400;
}

#lossStory {
	display: none;
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 258px;
	right: 132px;
	width: 300px;
	height: 350px;
	grid-template-columns: auto;
	opacity: .5;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

#winStory {
	display: none;
	position: absolute;
	background-color: black;
	border: dotted 3px white;
	color: white;
	top: 258px;
	right: 132px;
	width: 300px;
	height: 350px;
	grid-template-columns: auto;
	opacity: .5;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}

#pressStart {
	display: grid;
	position: absolute;
	background-color: black;
	top: 800px;
	right: 450px;
	width: 300px;
	height: 50px;
	grid-template-columns: auto;
	z-index: 400;
	color: #FFFFFF;
	text-align: center;
	font-family: arial, sans serif;
}